<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yuanshi.hiorange">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>


    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.LOCATION_HARDWARE"/>

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/> <!-- 自动聚焦权限 -->

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="64c66583e5563975926a1676e0868597"/>

        <meta-data
            android:name="MTA_CHANNEL"
            android:value="${MTA_CHANNEL_VALUE}"/>

        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InputIdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".activity.FingerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".activity.AddBoxActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"/>

        <activity
            android:name=".activity.VoiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".activity.UnbindActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                //data由两部分组成: mimeType和URI
                //intent的uri可以通过代码中的setData设置,mimeType可以通过代码中的setType设置,同时设置用setDataAndType
                //uri则由scheme、host、port、path | pathPattern | pathPrefix这4部分组成

                <!--<scheme>://<host>:<port>/[<path>|<pathPrefix>|<pathPattern >]
                content://com.wooyun.org:200/folder/etc-->
                <data android:mimeType="image/jpeg"/>//MimeType指的是媒体类型
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BoxMissingDialog"
            android:theme="@style/MyDialogTheme"/>

        <service android:name="com.amap.api.location.APSService"/>
        <service android:name=".service.RequestService"/>
    </application>


</manifest>